@model WardModel
<table id="TblTeams" class="table table-bordered table-hover table-striped dataTable" role="grid" aria-describedby="searchable_info">
    <thead>
        <tr role="row">
            <th class="wpx50 center" tabindex="0">@Locate.T("STT")</th>
            <th class="wpx50 center" tabindex="0">
                <label>
                    <input class="group-checkable" type="checkbox" />
                    <span class="text"></span>
                </label>
            </th>
            <th class="wpx120 center" tabindex="0" aria-controls="searchable">@Locate.T("Mã phường/xã")</th>
            <th class="wpx120 center" tabindex="0" aria-controls="searchable">@Locate.T("Tên phường/xã")</th>
            <th class="wpx120 center" tabindex="0" aria-controls="searchable">@Locate.T("Quận/huyện")</th>
            <th class="wpx120 center" tabindex="0" aria-controls="searchable">@Locate.T("Thao tác")</th>
        </tr>
    </thead>
    <tbody>
        @if (Utils.IsNotEmpty(Model.Wards))
        {
            var stt = ViewBag.Pagination.RowStart;
            foreach (var item in Model.Wards)
            {
                stt++;
                var alias = Utils.StringAlias(item.Name, item.ID);
                var viewLink = Locate.Url("/ward/{0}.html", alias);
                var updateLink = Locate.Url("/ward/update/{0}.html", alias);
                var insertLink = Locate.Url("/ward/create/{0}.html", alias);
                var deleteLink = Locate.Url("/ward/is-delete/{0}.html", alias);
                var district = Model.Districts.FirstOrDefault(t => t.ID == item.Parent) ?? new DocproReport.Models.UBDT.Area();
                <tr role="row">
                    <td class="sorting_1 center ">@stt</td>
                    <td class="sorting_1 center">
                        <label>
                            <input data-id="@item.ID" class="checkboxes" type="checkbox" />
                            <span class="text"></span>
                        </label>
                    </td>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@district.Name</td>
                    <td>
                        <div class="btns">
                            <div class="btn-group ">
                                <a href="javascript:;" data-toggle="dropdown" class="btn btn-sm btn-blue dropdown-toggle" aria-expanded="true">@Locate.T("Biên tập")<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu dropdown-blue dropdown-menu-right">
                                    <li>
                                        <a class="edit quickUpdate" data-id="@item.ID" data-area="#FrmUpTarget" title="@Locate.T("Sửa")" href="@updateLink">
                                            @Locate.T("Sửa")
                                        </a>
                                    </li>
                                    <li>
                                        <a class="quickDelete" data-id="@item.ID" data-area=".ui-dialog:visible" title="@Locate.T("Xóa")" href="@deleteLink">
                                            <i class=""></i> @Locate.T("Xóa")
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row DTTTFooter">
    @if (ViewBag.Pagination.RowCount == 0)
    {
        <div class="col-sm-12 text-center padt10">
            <strong>
                @Locate.T("Không có giá trị nào phù hợp, vui lòng thử lại")
            </strong>
        </div>
    }
    <div class="col-sm-6">
        <div class="dataTables_info" id="searchable_info" role="status" aria-live="polite"></div>
    </div>
    <div class="col-sm-6">@ViewBag.Pagination.SetTarget("#divArea").Render()</div>
</div>