<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Styles.Render("~/Assets/bootstrap/css.css")
    @Styles.Render("~/Assets/jquery/css.css")
    @Styles.Render("~/Assets/app/css/ionicons.min.css")
    @Styles.Render("~/Assets/beyond/css.css")
    @Styles.Render("~/pdf/css.css")
    @Styles.Render("~/Assets/app/css/icons.css")
    @Styles.Render("~/Assets/app/css.css")
    @if (!Equals(ViewBag.Css, null))
    {
        @Styles.Render(ViewBag.Css)
    }
    @*<link href="/stg/Assets/app/css/fix_ie.css" rel="stylesheet"/>
        <script src="/stg/Assets/app/js/modernizr-custom.js"></script>*@
</head>
<body>
    @Html.Partial("Header")
    <div class="main-container container-fluid">
        <div class="page-container">
            <div class="page-sidebar useScrollBar" id="sidebar">
                <ul class="nav sidebar-menu useScrollBar">
                    @Html.Partial("Left_HTReport")
                </ul>
            </div>
            <div id="Section" class="page-content">
                @Html.Partial("Message")
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="Overlay" class="overlay"><sub></sub></div>
    <div class="hidden">
        <input type="file" class="hidden" id="InputAvatar" multiple="multiple" />
        <input type="file" class="inputUpFile" id="AttachFile" data-bv-notempty-message="@Locate.T("Tên file không được trống")" />
        <input type="file" class="inputUpFile" id="AttachFiles" multiple="multiple" data-bv-notempty-message="@Locate.T("Tên file không được trống")" />
        <textarea id="CDATA" class="hidden">@ViewBag.CData</textarea>
    </div>
    @Html.Partial("Dock")
    @Scripts.Render("~/Assets/jquery/js.js")
    @Scripts.Render("~/Assets/bootstrap/js.js")
    @Scripts.Render("~/pdf/js.js")
    @Scripts.Render("~/Assets/beyond/js.js")
    @Scripts.Render("~/Assets/app/js.js")
    @if (!Equals(ViewBag.Scripts, null))
    {
        @Scripts.Render(ViewBag.Scripts)
    }
    @RenderSection("scripts", false)
    @*<script src="/login/Assets/jquery/js/jquery.signalr.js"></script>
        <script src="/login/Assets/app/js/realtime.js"></script>
        <script src="/login/Assets/app/js/chat.js"></script>
        <script src="/login/realtime/hubs"></script>

        <script src="/stg/Assets/app/js/check-ie-version.js"></script>*@
</body>
</html>