
<li class="open">
    <a class="menu-dropdown" href="#">
        <i class="menu-icon glyphicon white glyphicon-book"></i>
        <span class="menu-text">@Locate.T("Báo cáo")</span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">

        <li>
            <a href="@Locate.Url("/htreport/khovatly.html")">
                <i class="menu-icon orange ionicons ion-compose"></i>
                <span class="menu-text">@Locate.T("Báo cáo Kho vật Lý")</span>
            </a>
        </li>
         <li>
            <a href="@Locate.Url("/test.html")">
                <i class="menu-icon orange ionicons ion-compose"></i>
                <span class="menu-text">@Locate.T("Test")</span>
            </a>
        </li>
        <li>
            <a href="@Locate.Url("/district.html")">
                <i class="menu-icon orange ionicons ion-compose"></i>
                <span class="menu-text">@Locate.T("District")</span>
            </a>
        </li>
        <li>
            <a href="@Locate.Url("/ward.html")">
                <i class="menu-icon orange ionicons ion-compose"></i>
                <span class="menu-text">@Locate.T("Ward")</span>
            </a>
        </li>
    </ul>
</li>
